@charset "utf-8";
/* CSS reset */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td,img{padding:0;margin:0;}
body{font-size:14px;font-family:'Microsoft YaHei','Arial', '\5B8B\4F53';}
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0;}
address, caption, cite, code, dfn, em, strong, th, i, var{font-weight:normal;font-style:normal;}
ol, ul{list-style:none;}
caption,th{text-align:left;}
input, label{vertical-align:middle;}
input{border:0;}
h1, h2, h3, h4, h5, h6,b{font-weight:normal;font-size:100%;}
q:before,q:after{content: '';}
abbr,acronym{border:0;}